{% load static %}

<div class="container question">
  <div class="row">
    <br>
    <div class="col-lg-2">
      <div class="col">
        <img src="{% static 'img/mask.jpg' %}" class="mr-3" alt="..." width="80" height="100">
      </div>
      <br>
      <div class="col">
        <a href="#">5</a>
      </div>
    </div>
    <div class="col-lg-10">
      <!-- <div class="col">
        <a href=""><h3>How to make travel easier?</h3></a>
      </div> -->
      <div class="col">
        <h4>The Boring Company Илона Маска открыла первый подземный тоннель — под Лос-Анджелесом..aaa aa aaa aa aaa aa aaa aa bb bbb bb bbb bb</h4>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <form>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Correct</label>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
