{% extends "question/base.html" %}
{% load static %}


{% block headerName %}
    <h2>New Question</h2>
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'new_question' %}" method="post">
        {% csrf_token %}
        <div class="col-md-12">
            <fieldset>

                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <input type="submit" value="ASK!" class="btn btn-success"/>
                </div>
            </fieldset>
        </div>

    </form>
{% endblock %}
