{% load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    {% include 'question/navbar.html' %}

    <div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
              {% block headerName %}
                      <h3>
                          <ul class="nav nav-pills">
                              {% for header in headers %}
                                  {% if header.is_active %}
                                        &nbsp;&nbsp;
                                      <h3><li class="active"><a href="{% url header.url %}" > {{ header.title }} </a></li></h3>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  {% else %}
                                        &nbsp;&nbsp;
                                      <h3><li><a href="{% url header.url %}" > {{ header.title }} </a></li></h3>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  {% endif %}
                              {% endfor %}
                          </ul>
                      </h3>
              {% endblock %}
            </div>
        </div>
    </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <br>

          {% block content %}
          {% endblock %}

          {% block footer %}
          {% endblock %}

        </div>
        <div class="col-lg-3">
          <br>
          <!--Popular questions -->
          <div class="container">
          <div class="col">
            <h4>Popular Tags</h4>
            <hr class="orange accent-2 mt-0 d-inline-block mx-auto" style="width: 155px;"></hr>
            <il style="text-align: left;">
              <a href=""><h2><font color="#e04d28">Web</font></h2></a>
              <a href=""><h3><font color="green">Django</font></h3></a>
              <a href=""><h4><font color="blue">Framework</font></h4></a>
              <a href=""><h5><font color="#2dce7d">Python</font></h5></a>
              <a href=""><h6><font color="#e0c484">TypeScript</font></h6></a>
            </il>
          </div>
          </div>
          <!--Popular questions -->
          <br><br>
          <!--Best members -->
          <div class="container">
            <div class="col">
              <h4>Best Members</h4>
              <hr class="orange accent-2 mt-0 d-inline-block mx-auto" style="width: 155px;"></hr>
              <il style="text-align: left;">
                <a href=""><h5>Anonymous</h5></a>
                <a href=""><h5>Mister</h5></a>
                <a href=""><h5>Coder</h5></a>
                <a href=""><h5>FrontendMan</h5></a>
                <a href=""><h5>AAA</h5></a>
              </il>
            </div>
          </div>
          <!--Best members -->
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="{% static 'js/like_dislike.js' %}"></script>
  </body>
</html>
