{% load static %}

<div class="container question">
  <div class="row">
    <br>
    <div class="col-lg-2">
      <div class="col">
        <img src="{% static 'img/jobs.jpg' %}" class="mr-3" alt="..." width="80" height="100">
      </div>
      <br>
      <div class="col">
        <a href="#">5</a>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="col">
        <a href=""><h3>How to make travel easier?</h3></a>
      </div>
      <div class="col">
        <h4>The Boring Company Илона Маска открыла первый подземный тоннель — под Лос-Анджелесом...</h4>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-5 text-center">
          <a href=""><h5>Answers(3)</h5></a>
        </div>
        <div class="col-lg7">
          <div class="row">
            <h5>Tags:&nbsp;&nbsp;</h5>
            <a href=""><h5>BoringCompany,&nbsp;&nbsp;</h5></a>
            <a href=""><h5>Tesla &nbsp;</h5></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
