{% extends "question/base.html" %}
{% load static %}

{% block content%}
    <!-- New questions && Hot questions -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>New Questions</h4>
              </div>
            <div class="col-lg-8">
                <a href="#"><h4>Hot questions</h4></a>
            </div>
        </div>
    </div> -->
    <!-- New questions && Hot questions -->

        {% include 'question/question_item.html' %}
        <br>
            <a href="/question/{{ question.id }}/answer/"><button type="button" class="btn btn-info">ANSWER!</button></a>
        <br>
        <br>

      <hr class="orange accent-2 mt-0 d-inline-block mx-auto" style="width:830px;"></hr>

      <h2 align="center">Answers</h2> <br>

        {% for answer in answers %}
            {% include 'question/answer_item.html' %}
        {% endfor %}



{% endblock%}


{% block footer %}
    <div class="col">
        <a>Страниц с ответами: {{ answers.paginator.num_pages }}</a>
    </div>
    <br>
    {% if answers.has_next %}
        <div class="container">
            <ul class="pagination">
                {% if answers.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ answers.previous_page_number }}">Back</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ answers.previous_page_number }}">{{ answers.previous_page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Back</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="#">{{ answers.number }} <span class="sr-only">(current)</span></a>
                </li>

                {% if answers.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ answers.next_page_number }}">{{ answers.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ answers.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
  {% endblock%}
